body{
	background:linear-gradient(#006a91,#5B9EBA,#8bbfba);
	text-align:left;
	font-family:'Montserrat', sans-serif;	
}

section {
	background-color:rgba(255,255,255,.2);
	height: 150px;
	size:24px;
}

nav {
	text-align:right;
}

a {
	font-size:16px;
	line-height:1.6;
	color:white;
	text-decoration: none;
	size:20px;
	margin-left:20px;
}

a:hover {
	color:white;
}

#current_page {
	border-bottom: 3px solid yellow;
}

h1{
	text-align: center;
	color:black;
	font-size:40px;
	padding-top:45px;.);
	background-attachment:fixed;
	letter-spacing:2px;
}

#info{
	background-color:rgba(255,255,255,.2);
	border: solid 2px #011456;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	padding:20px;
	margin-top:20px;
	line-height:1.4;
}

img{
	background-color:rgba(255,255,255,.2);
	border: solid 2px #011456;
	padding:20px;
	display:block;
	margin:auto;
}
#symptoms, #funfacts{
	background-color:rgba(255,255,255,.2);
	border: solid 2px #011456;
	border-radius:20px;
}

p{
	text-align:center;
}

li{
	display:block;
	text-align:center;
}